.container {
	display: flex;
	flex-direction: column;
	max-width: 860px;
	margin: 60px auto 0;
	background: #1c1c21;
	border-radius: 10px;
	
}

.link {
	text-decoration: none;
	transition: color 0.5s ease;
}

.link:hover {
	color: #f2f2f3;
}
