.list {
	list-style: none;
	max-width: 592px;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.text {
	text-align: left;
}

.item {
	margin-right: 5px;
}
