.container {
	display: flex;
	flex-direction: row;
	max-width: 860px;
	margin: auto;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	width: 320px;
}

.text {
	text-align: left;
}

.item {
	padding: 17px 0;
}

.link {
	text-decoration: none;
	transition: color 0.5s ease;
}

.link:hover {
	color: #f2f2f3;
}

.linkActive {
	color: #f2f2f3;
	cursor: default;
}

.form {
	width: 100%;
}

.form div {
	width: 100%;
}

.form svg {
	margin-left: 190px;
}

.title {
	margin: 0;
}
