.item {
	max-width: 272px;
	width: 100%;
	flex-direction: column;
	cursor: pointer;
	position: relative;
	align-items: center;
	cursor: pointer;
	box-sizing: border-box;
}

.image {
	max-width: 240px;
}

.price {
	display: flex;
	justify-content: center;
}

.link {
	text-decoration: none;
	color: inherit
}
