.header {
	max-width: 100%;
	width: 100%;
	margin: auto;
	grid-area: header;
	background: #1c1c21;
}

.container {
	padding: 0;
	margin: 16px auto 0;
	max-width: 1280px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.item {
	display: flex;
	align-items: center;
}

.item_left {
	justify-self: flex-start;
}

.item_right {
	justify-self: flex-end;
}

.link {
	text-decoration: none;
	color: #8585ad;
	display: flex;
	align-items: center;
	padding: 0 20px;
	transition: color 0.5s ease;
}

.link:hover {
	color: #f2f2f3;
}

.linkActive {
	color: #f2f2f3;
	cursor: default;
}

.logo {
	padding-left: 9%;
	justify-self: center;
	flex-grow: 2;
}

.text {
	margin: 0;
}
